@{
    Layout = "_ConfigurePlugin";

    //Html.AddCssFileParts("~/Plugins/SMS.Messaging/Content/styles.css");
}
@model SmsAlphaModel
@using Nop.Core.Infrastructure
@using Nop.Plugin.Sms.Net.bd.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings

<form asp-controller="SmsAlpha" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        Basic Setting
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Enabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Enabled" />
                        <span asp-validation-for="Enabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="API_Url" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="API_Url" />
                        <span asp-validation-for="API_Url"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="API_Key" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="API_Key" />
                        <span asp-validation-for="API_Key"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="sender_id" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="sender_id" />
                        <span asp-validation-for="sender_id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CustomerEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CustomerEnabled" />
                        <span asp-validation-for="CustomerEnabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="OwnerEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="OwnerEnabled" />
                        <span asp-validation-for="OwnerEnabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="OwnerNumber" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="OwnerNumber" />
                        <span asp-validation-for="OwnerNumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        Event Setting
                    </div>
                </div>

                @*
                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="EnabledRegistered" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="EnabledRegistered" />
                    <span asp-validation-for="EnabledRegistered"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="RegisteredSMSFormat" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="RegisteredSMSFormat" />
                    <span asp-validation-for="RegisteredSMSFormat"></span>
                    </div>
                    </div>


                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="CustomerRegOTPEnabled" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegOTPEnabled" />
                    <span asp-validation-for="CustomerRegOTPEnabled"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="CustomerRegOTPSMSFormat" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="CustomerRegOTPSMSFormat" />
                    <span asp-validation-for="CustomerRegOTPSMSFormat"></span>
                    </div>
                    </div>*@
                @*<hr />
                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="EnabledRegistered" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="EnabledRegistered" />
                    <span asp-validation-for="EnabledRegistered"></span>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="RegisteredSMSFormat" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="RegisteredSMSFormat" />
                    <span asp-validation-for="RegisteredSMSFormat"></span>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="SendToCustomerAccRegSMSEnabled" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="SendToCustomerAccRegSMSEnabled" />
                    <span asp-validation-for="SendToCustomerAccRegSMSEnabled"></span>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="SendToOwnerAccRegSMSEnabled" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="SendToOwnerAccRegSMSEnabled" />
                    <span asp-validation-for="SendToOwnerAccRegSMSEnabled"></span>
                    </div>
                    </div>
                    <hr />*@
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="EnabledConfirmOrder" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnabledConfirmOrder" />
                        <span asp-validation-for="EnabledConfirmOrder"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SendToCustomerConfirmOrderSMSEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SendToCustomerConfirmOrderSMSEnabled" />
                        <span asp-validation-for="SendToCustomerConfirmOrderSMSEnabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ConfirmOrderSMSForCustomerFormat" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ConfirmOrderSMSForCustomerFormat" />
                        <span asp-validation-for="ConfirmOrderSMSForCustomerFormat"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="SendToOwnerConfirmOrderSMSEnabled" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SendToOwnerConfirmOrderSMSEnabled" />
                        <span asp-validation-for="SendToOwnerConfirmOrderSMSEnabled"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ConfirmOrderSMSForOwnerFormat" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ConfirmOrderSMSForOwnerFormat" />
                        <span asp-validation-for="ConfirmOrderSMSForOwnerFormat"></span>
                    </div>
                </div>
                <hr />
                @*<div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="EnabledPaymented" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="EnabledPaymented" />
                    <span asp-validation-for="EnabledPaymented"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="PaymentedSMSFormat" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="PaymentedSMSFormat" />
                    <span asp-validation-for="PaymentedSMSFormat"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="EnabledOrderShipping" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="EnabledOrderShipping" />
                    <span asp-validation-for="EnabledOrderShipping"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="OrderShippingSMSFormat" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="OrderShippingSMSFormat" />
                    <span asp-validation-for="OrderShippingSMSFormat"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="EnabledOrderCompleted" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="EnabledOrderCompleted" />
                    <span asp-validation-for="EnabledOrderCompleted"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="OrderCompletedSMSFormat" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="OrderCompletedSMSFormat" />
                    <span asp-validation-for="OrderCompletedSMSFormat"></span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <nop-label asp-for="EnabledOrderCanceled" />
                    </div>
                    <div class="col-md-9">
                    <nop-editor asp-for="EnabledOrderCanceled" />
                    <span asp-validation-for="EnabledOrderCanceled"></span>
                    </div>
                    </div>*@


                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Sms.Net.bd.SendTest.Hint")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TestMessage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestMessage" />
                        <span asp-validation-for="TestMessage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Number" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Number" />
                        <span asp-validation-for="Number"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="test-sms" class="k-button" value="@T("Plugins.Sms.Net.bd.SendTest")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
